@page "/enquetes"

<PageTitle>Enquetes</PageTitle>
<h3>Enquetes</h3>
<div id="center" style="align-self:center;" hidden="@HideSetEnquetes"> 
    <button hidden="@HideSetEnquetes" onclick="@SetEnquete">Set</button>
</div>
<div id="tqndisp-one" hidden="@IfTokenOne">
        <TokenOne></TokenOne>
</div>
<div>
    <button onclick="@ShowSelector">Back</button>
</div>


@code {
    public static bool? HideSetEnquetes { get; set; }
    public static bool? IfTokenOne { get; set; }

    protected override void OnInitialized()
    {
        Title.PageName = "Enquêtes";
    }
    void SetEnquete()
    {

    }

    void ShowSelector()
    {
        
    }
}
